body{width:100%;height:120vh;margin:0;background-color:#1a2081;font-family: Ggsans, sans-serif;font-size: 16px;font-weight:400;background-image: linear-gradient(135deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .05)), linear-gradient(261deg, #1a2081, #0e0e5c);}

h1, p{text-align: center;margin:0.5em auto 20px;}

form{width:70vw;max-width:500px;min-width:300px;margin:0 auto;padding-bottom:2em;}

#survey-form{background-color:#161CBB;border-radius:30px;padding-bottom:2em;}

fieldset{border:none;padding:0.5rem 0;margin:2em;}

fieldset:first-of-type{padding:2em 0 0 0;}

label{display:block;margin: 0.5em 0;}

input, textarea, select{margin:5px 0 0 0;width:100%;min-height:2em;background-color:#070733;border:#070733;}

.inline{display:inline;width:unset;margin:0 0.5em 0 0;vertical-align:middle;}

input[type="submit"]{margin-bottom: 5em;}